<div class="container">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">New Treat</h3>
		</div>
		<form action="/treats" method="POST">
			<table class="table">
				<tr><td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1" name="title">
						<span class="input-group-addon" id="basic-addon1">Title</span>
					</div>
				</td></tr>
				<tr><td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Days" aria-describedby="basic-addon1" name="days">
						<span class="input-group-addon" id="basic-addon1">Days</span>
					</div>
				</td></tr>
				<tr><td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Hours" aria-describedby="basic-addon1" name="hours">
						<span class="input-group-addon" id="basic-addon1">Hours</span>
					</div>
				</td></tr>
				<tr><td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Minutes" aria-describedby="basic-addon1" name="minutes">
						<span class="input-group-addon" id="basic-addon1">Minutes</span>
					</div>
				</td></tr>
				<tr><td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Seconds" aria-describedby="basic-addon1" name="seconds">
						<span class="input-group-addon" id="basic-addon1">Seconds</span>
					</div>
				</td></tr>
				<tr><td><input type="submit"   value="Submit"></td></tr>
			</table>
		</form>
	</div>
</div>