body {
	background-image: url("../images/wood-background.jpg");
	background-size: 100%;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

div .panel {
  margin: auto;
  text-align: center;
  width: 200px;
}

div .alert {
  text-align: center;
  margin: auto;
  width: 200px;
}

div .treat-wrapper {
  margin: auto;
  text-align: center;
  width: 300px;
}