h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

div .panel {
  margin: auto;
  text-align: center;
  width: 200px;
}

div .alert {
  text-align: center;
  margin: 0px auto 10px;
  width: 400px;
}
