<% treats = current_user.treats %>
<% treats.each { |treat| treat.ready? } %>
<% treats = treats.order(ready: :desc) %>

<div class="container treat-wrapper">
	<% treats.each do |treat| %>
	<% time_left = Time.at(treat.time_left).utc.strftime("%j:%H:%M:%S") %>
	<% time_left = format_time(time_left) %>
		<div class="btn-group">
			<% if treat.ready? %>
				<form action="/treats/complete" method="POST">
					<input type="hidden" name="treat_id" value="<%= treat.id %>">
					<button type="button submit" class="btn btn-success"><%= treat.title %></button>
				</form>
			<% else %>
				<button type="button" class="btn btn-danger"><%= treat.title %></button>
			<% end %>
		</div>
		</br>
		<% unless treat.ready? %>
			<p><%= time_left %></p>
		<% else %>
			<p>Ready!</p>
		<% end %>
		</br>
	<% end %>
</div>