<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="container">
  <h1 class="title">Welcome to GratiFLY!</h1>
  <h3>Your external source of self control</h3>
  </br>

  <% if params[:error] %>
    <div class="alert alert-danger" role="alert"><%= params[:error] %></div>
  <% end %>

  <% if logged_in? %>

  <% else %>
    <%= erb :"partials/_login_signup", layout: false %>
  <% end %>



</div>
